.counter {
  text-align: center;
  width: 40rem;
  padding: 20px 30px 50px;
  box-shadow: 0 0 10px #e1e1e1;
  margin: 30px auto;
}

.mainHeading {
  color: #d205c2;
  text-transform: uppercase;
}

.subHeading {
  background-color: #0083ec;
  width: 80px;
  margin: 30px auto 30px;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.counter button {
  outline: 0;
  border: 2px solid #e1e1e1;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.counter button:not(:last-child) {
  margin-right: 10px;
}

.violet {
  color: #dc00ff;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}
